#MainPage {
    horizontal-align: center;
    vertical-align: center;
    text-color: white;
}
#MainMessage {
    background-image: none;
    text-color: white;
    preferred-size: 80% -1;
    minimum-size:   80% -1;
    maximum-size:  100% 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
